
<p id="notice"><%= notice %></p>	

<%= @text_map.format_text.html_safe %><br>
</div>

<div id="footer">
<%= link_to 'Edit', edit_text_map_path(@text_map) %> |
<%= link_to 'Back', text_maps_path %>
</div>
