
<p id="notice"><%= notice %></p>	

<% 3.times do %>
<div class="header">
	あああ
</div>

<div class="header2">
	いいい
</div>

<div class="header3">
	ううう
</div>

<% end %>

<div id="footer">
<%= @text_map.text %><br>

<%= link_to 'Edit', edit_text_map_path(@text_map) %> |
<%= link_to 'Back', text_maps_path %>
</div>
