<p id="notice"><%= notice %></p>
<%= javascript_include_tag "jquery.masonry.min" %>
<h1>サンプル  シンプル版</h1>
<div id="container" class="centered">
  <div class="box col2"></div>
  <div class="box col2"></div>
  <div class="box col2"></div>
</div>
<%= link_to 'Edit', edit_text_map_path(@text_map) %> |
<%= link_to 'Back', text_maps_path %>
