<script>

$(document).ready(function(){
	$('.container').masonry({
		containerStyle: 'absolute',
  	itemSelector: '.h1bracket'
  });

	$('.h1bracket').masonry({
		//columnWidth: 200,
		containerStyle: 'absolute',
  	itemSelector: '.h2bracket',
  	"stamp": ".h1box"
  });

  $('.h2bracket').masonry({
  	//columnWidth: 300,
		containerStyle: 'absolute',
  	itemSelector: '.h3bracket',
  	"stamp": ".h2box"
  });
});

</script>

<%= javascript_include_tag "masonry.pkgd.min.js" %>

<div class="container">
<%= @text_map.format_text.html_safe %><br>
</div>
</div>
</div>

<div id="footer">
	<p> Bullet Palette generates your notes into a beautiful online poster. Make <%= link_to 'New', root_path %> or Edit <%= link_to "this one", edit_text_map_path %>.</p>
</div>

<script>
  $(function(){
    $('#container').masonry({
      itemSelector: '.box',
      columnWidth: 200 //一列の幅サイズを指定
    });
  });
</script>
