<script>

/*$(function(){
  $('#container').masonry({
  itemSelector: '.bracket',
  columnWidth: 70,
  });
});
>>>>>>> 828f6afcefacd37efdff6873fadb204c0381e0f4


$(function(){
  $('.bracket').masonry({
  itemSelector: '.item',
  columnWidth: 70,
  });
});*/

/*$(function(){
  $('.h3bracket').masonry({
  itemSelector: '.h3item',
  });
  columnWidth: 240,
  containerStyle:null;
});


$(function(){
  $('.h2bracket').masonry({
  itemSelector: '.h2item',
  });
  columnWidth: 240
});

$(function(){
  $('.h1bracket').masonry({
  itemSelector: '.h2item',
  });
  columnWidth: 240
});


$(function(){
  $('.container').masonry({
  itemSelector: '.h1bracket',
  });
  columnWidth: 240
});
*/

$(document).ready(function(){
	$('.container').masonry({
		containerStyle: 'absolute',
  	itemSelector: '.h1bracket'
  });

	$('.h1bracket').masonry({
		containerStyle: 'absolute',
  	itemSelector: '.h2bracket',
  	"stamp": ".h1box"
  });

  $('.h2bracket').masonry({
		containerStyle: 'absolute',
  	itemSelector: '.h3bracket',
  	"stamp": ".h2box"
  });
});

// $(function(){
  
//   columnWidth: 240,
//   containerStyle:null;
// });

</script>

<%= javascript_include_tag "jquery.masonry.min" %>
<!-- 

<div class="container">
	<div class= "h1bracket">
		<div class= "h1item h1box"><h1>TITLE</h1></div>

		<div class= "h1item h2bracket">
			<div class="h2item h2box"><h2>topic1</h2></div>
			<div class="h2item h3bracket">
				<div class="h3item h3box"><h3>i'll make this substop long too yay</h3></div>
				<div class="h3item h3bracket"></div>
			</div>
		</div>

		<div class= "h1item h2bracket">
			<div class="h2item h2box"><h2>topic2</h2></div>
			<div class="h2item h3bracket"><h3>i'll make this substop long too yay</h3></div>
		</div>
		<div class= "h1item h2bracket">
			<div class="h2item h2box"><h2>topic3</h2></div>
			<div class="h2item h3bracket"><h3>subtop</h3></div>
			<div class="h2item h3bracket"><h3>subtop</h3></div>
		</div>
		<div class= "h1item h2bracket">
			<div class="h2item h2box"><h2>topic3</h2></div>
			<div class="h2item h3bracket">
				<div class="h3item h3box"><h3>i'll make this substop long too yay</h3></div>
				<div class="h3item h3bracket"></div>
			</div>
		</div>

	</div>

	<div class= "h1bracket">
		<div class= "h1item h1box"><h1>TITLE</h1></div>
		<div class= "h1item h2bracket">
			<div class="h2item h2box"><h2>topic</h2></div>
			<div class="h2item h3bracket"><h3>subtop</h3></div>
		</div>
	</div>

	<div class= "h1bracket">
		<div class= "h1item h1box"><h1>TITLE</h1></div>
		<div class= "h1item h2bracket">
			<div class="h2item h2box"><h2>topic</h2></div>
		</div>
	</div>

	<div class= "h1bracket">
		<div class= "h1item h1box"><h1>TITLE</h1>

		</div>
	</div>

</div> -->


<!-- <div id="container">
	<div class="h1group">

		<h1>Title</h1>

		<div class="h2group">
			<h2>Topic</h2>
		</div>

		<div class="h2group">
			<h2>Topic</h2>
			
			<div class="h3group">
				<h3>Subtopic</h3>
			</div>

			<div class="h3group">
				<h3>Subtopic</h3>
				<h4>something</h4>
				<h4>something</h4>
			</div>
		</div>

	</div>
</div>
 -->

<div class="container">
<%= @text_map.format_text.html_safe %><br>
</div>
</div>
</div>

<div id="footer">
<%= link_to 'Edit', edit_text_map_path(@text_map) %> |
<%= link_to 'Back', text_maps_path %>
</div>

<script>
  $(function(){
    $('#container').masonry({
      itemSelector: '.box',
      columnWidth: 200 //一列の幅サイズを指定
    });
  });
</script>
