// Place all the styles related to the text_maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	 //background-color: #D8F6CE;
 }


// この指定は必要あるのでしょうか。yu
// #footer {
// 	position: absolute;
// 	bottom: 40px;
// 	width: 100%;
	
// }

.text-area {
 	height: 500px;
 	width: 500px;
 }

 body {
 	width: 2000px;
 }


.item {
	position: relative;
	overflow: scroll;
	width: 30%; 
	background-color: #D8F6CE;
	float: left;
	margin: 5px;
	padding: 5px;
}
.item2 {
	position: relative;
	width: 45%; 
	background-color: #D8AAAA;
	float: left;
	margin: 5px;
	padding: 5px;
}
.item3 {
	width: 45%; 
	background-color: #AAAAD8;
	float: left;
	margin: 5px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
}
.item4 {
	width: 70%; 
	background-color: #EEEEAA;
	float: left;
	margin: 10px;
	padding: 10px;
}

.item.w2 { 
	width: 50%; 
}