// Place all the styles related to the text_maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered { margin: 0 auto; }
#container{
    border:1px solid #dadada;
}
.box {
    margin: 5px;
    padding: 5px;
    background: #D8D5D2;
    float: left;
}
.col2 { width: 180px; }
.col4 { width: 380px; }
