// Place all the styles related to the text_maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	 ////background-color: #D8F6CE;
	 margin: 0;
	 padding: 0;
	 text-align: center;
	 word-wrap: break-word;
}

 textarea { 
 	border: none;
 	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
 }


.submitButton {
	//background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000) );
	//background:-moz-linear-gradient( center top, #000000 5%, #000000 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000');
	background-color:#000000;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	border:0px solid #000000;
	display:inline-block;

	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;

	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	color:#ffffff;
}


.submitButton:hover {
	//background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2267F2), color-stop(1, #ffffff) );
	//background:-moz-linear-gradient( center top, #2267F2 5%, #2267F2 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2267F2', endColorstr='#2267F2');
	transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
	background-color:#2267F2;
	border-color: #2267F2;
	color:#ffffff;
	cursor:pointer;
}


 @font-face {
    font-family: 'trackregular';
    src: url('track-webfont.eot');
    src: url('track-webfont.eot?#iefix') format('embedded-opentype'),
         url('track-webfont.woff') format('woff'),
         url('track-webfont.ttf') format('truetype'),
         url('track-webfont.svg#trackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'odin_roundedlight';
    src: url('odin_rounded_-_light-webfont.eot');
    src: url('odin_rounded_-_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('odin_rounded_-_light-webfont.woff') format('woff'),
         url('odin_rounded_-_light-webfont.ttf') format('truetype'),
         url('odin_rounded_-_light-webfont.svg#odin_roundedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

.text-area {
 	height: 500px;
 	width: 500px;
 }
 
.container {
	// background-color: #FCCE07;
	display:inline-block;
	//padding:10px;
	text-align:center;
	width: 99%;
	margin: 0;
}

.h1bracket {
	display:inline-block;

	padding:5px;
	width:100%;
	margin: auto;
	margin-bottom:-300px;
	
}

.h1box {
	// background-color: #FB642D;
	text-align:center;
	// width: 100%;

}

.h2bracket {
	display:inline-block;

	// background-color: #EEE;
	//
	//padding:10px;
	//margin-bottom:30px !important;
	padding:1%;
	width: 28%;
	margin: 0 1%;
	//margin-bottom: -70px;
}

.h1item, .h2item, .h3item, .h4item {
	&.bullets {
		text-align:left;
	}
}

.h2box {
	text-align:center;
	margin-bottom:20px;
}

.h3bracket {
	display:inline-block;

	padding:1%;
	margin-bottom:5px;
	width: 40%;
	margin: 1%;
	margin-bottom:2% !important;
}

.h3box {
	text-align:center;
}

.h4box {

}

li {
	text-align: left;
}

#footer {
	position: fixed;
	bottom: 0;
	background-color:#94E5D1;
	opacity: 0.9;
	width:100%;
	padding: 0;
	text-align:center;
	height:30px;
	color: #FFFFFF !important;
}

#footer p {
	margin: 0;
	padding: 5px;
}
#footer a {
	color: #FFA189;
	text-decoration: none;
}

#footer a:hover {
	color: #FFC589;
}


/*======================================*/
/*TEXT FORMATTING STYLES*/
/*======================================*/


h1 {
	font-family: "trackregular", 'Roboto';
    border-bottom: 7px solid #30B4E2;
    display:inline-block;
    font-size:60px;
    line-height:120%;
}

h2 {
	font-family: "trackregular", 'Roboto';
	margin:0px;
	font-size:30px;
	line-height:110%;
}

h3 {
//    font-family: "odin_roundedregular";
    font-family: 'odin_roundedlight, 'Roboto';
	margin: 0px;
	font-size: 25px;
	line-height:130%;
}

h4 {
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
	margin:0;
}

.bulletmark {
	color: #35BD37;
}


.h3bracket img {
	margin-bottom: 40px;
}

#welcome {
	border: none;
}

.h1item img {
	width: 20% !important;
	float: right;
}

/*
"container"
	"h1bracket"
		"h1box"
		"h2bracket"
			"h2box"
			"h3bracket"
				"h3box"
				"h4box"*/


