// Place all the styles related to the text_maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	 //background-color: #D8F6CE;
 }

// この指定は必要あるのでしょうか。yu
// #footer {
// 	position: absolute;
// 	bottom: 40px;
// 	width: 100%;
	
// }			

.text-area {
 	height: 500px;
 	width: 500px;
 }

 body {
 	width: 2000px;
 }


.item {
	//position: absolute;
	overflow: scroll;
	width: 30%; 
	background-color: #D8F6CE;
	float: left;
	margin: 5px;
	padding: 5px;
}
.item2 {
	//position: absolute;
	width: 45%; 
	background-color: #D8AAAA;
	float: left;
	margin: 5px;
	padding: 5px;
}
.item3 {
>>>>>>> c2513b37586f40260436d12bd7213852a5e8d11d
	position: absolute;
	width: 45%; 
	background-color: #AAAAD8;
	float: left;
	margin: 5px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
}
.item4 {
	width: 70%; 
	background-color: #EEEEAA;
	float: left;
	margin: 10px;
	padding: 10px;
}


.item.w2 { 
	width: 50%; 
}

.container {
	background-color: #FCCE07;
	display:inline-block;
	padding:10px;
}

.h1bracket {
	display:inline-block;
	background-color: #FB9D17;
	padding:10px;
	width:90%;
	margin: auto;
	margin-bottom:5px;

}

.h1box {
	//background-color: #FB642D;
	text-align:center;
}

.h2bracket {
	display:inline-block;
	background-color: #FB642D;
	padding:10px;
	margin-bottom:5px;
	max-width: 300px;
}

.h1item, .h2item, .h3item, .h4item {
}

.h2box {
	text-align:center;
}

.h3bracket {
	display:inline-block;
	background-color: #FC3B3C;	
	padding:10px;
	margin-bottom:5px;
	max-width:200px;
}

.h3box {
	text-align:center;
}

.h4box {
	background-color: #F41058;	
}

/*======================================*/
/*TEXT FORMATTING STYLES*/
/*======================================*/

@font-face {
    font-family: 'trackregular';
    src: url('track-webfont.eot');
    src: url('track-webfont.eot?#iefix') format('embedded-opentype'),
         url('track-webfont.woff') format('woff'),
         url('track-webfont.ttf') format('truetype'),
         url('track-webfont.svg#trackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1 {
	font-family: "trackregular";
    border-bottom: 3px solid #11A7FC;
    display:inline-block
}

h2 {
	font-family: "trackregular";
}

h3 {
	font-family: "trackregular";
}

h4 {
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

/*
"container"
	"h1bracket"
		"h1box"
		"h2bracket"
			"h2box"
			"h3bracket"
				"h3box"
				"h4box"*/

